/* Color Scheme  */
.color.pastelred
{
    color: #ff8000;
}

.bg.pastelred
{
    background-color: #ffbf80;
    border: none;
}

.bg2.pastelred
{
    background-color: #ffe6cc;
    border: none;
}

.bord.pastelred
{
    padding: 2%;
    padding-bottom: 0%;
    border: 2px solid #ff8000;
}

.bord2.pastelred
{
    border: 1px solid #fff2e6;
    border-top: none;
}
