/* Color Scheme  */
.color.pastelred
{
    color: #db4dff;
}

.bg.pastelred
{
    background-color: #dd99ff;
    border: none;
}

.bg2.pastelred
{
    background-color: #e6ccff;
    border: none;
}

.bord.pastelred
{
    padding: 2%;
    padding-bottom: 0%;
    border: 2px solid #db4dff;
}

.bord2.pastelred
{
    border: 1px solid #f3e6ff;
    border-top: none;
}
