/* Color Scheme  */
.color.pastelred
{
    color: #ff9999;
}

.bg.pastelred
{
    background-color: #ffc9c9;
    border: none;
}

.bg2.pastelred
{
    background-color: #ffe9e9;
    border: none;
}

.bord.pastelred
{
    padding: 2%;
    padding-bottom: 0%;
    border: 2px solid #ff9999;
}

.bord2.pastelred
{
    border: 1px solid #fff0f0;
    border-top: none;
}

