/* Color Scheme  */
.color.pastelred
{
    color: Turquoise;
}

.bg.pastelred
{
    background-color: #88e2e2;
    border: none;
}

.bg2.pastelred
{
    background-color: #bff3f3;
    border: none;
}

.bord.pastelred
{
    padding: 2%;
    padding-bottom: 0%;
    border: 2px solid Turquoise;
}

.bord2.pastelred
{
    border: 1px solid LightCyan;
    border-top: none;
}
