/* Color Scheme  */
.color.pastelred
{
    color: yellow;
}

.bg.pastelred
{
    background-color: #ffff66;
    border: none;
}

.bg2.pastelred
{
    background-color: #ffffb3;
    border: none;
}

.bord.pastelred
{
    padding: 2%;
    padding-bottom: 0%;
    border: 2px solid yellow;
}

.bord2.pastelred
{
    border: 1px solid #ffffe6;
    border-top: none;
}
