{% extends "layout.html" %}

{% block title %}
    Modify activity
{% endblock %}

{% block main %}
<script>
    /* checked days in checkbox list */
    document.addEventListener('DOMContentLoaded', function(){
        checkbox = document.querySelectorAll("input[type='checkbox']")
        activitydays = document.querySelectorAll(".activityday")
        z = 0;
        for (let i = 0; i < checkbox.length; i++)
        {
            for (let j = z; j < activitydays.length; j++)
            {
                if (checkbox[i].value == activitydays[j].innerHTML)
                {
                    checkbox[i].checked = true;
                    z = j + 1;
                    break;
                }
            }
        }

        document.querySelector("#delete").addEventListener("click", function(){
            document.querySelector("#Q_delete").value = "yes"
            document.querySelector("#modified_activity").submit()
        })
    })
</script>

<form id="modified_activity" action="/modified_activity" method="post">
    <div><input id="Q_delete" name="Q_delete" class="visually-hidden" value="no"></div>
    <div><input id="activity_id" name="activity_id" class="visually-hidden" value="{{activity["activity_id"]}}"></div>
    <div class="bord pastelred mb-2 pb-2">
        <div class="wrap">
            <table>
                <tr>
                    <th width="101px"><label class="float-end pe-1" for="activity">Activity:</label></th>
                    <td width="240px"><input size="26" class="float-start" autocomplete="off" autofocus class="mx-auto w-auto" id="activity" name="activity" type="text" value="{{activity["activity"]}}"></td>
                </tr>
            </table>
            <table>
                <tr>
                    <th width="101px"><label class="float-end pe-1" for="description">Description:</label></th>
                    <td width="240px">
                        {% if activity["description"] %}
                            <input size="26" class="float-start" autocomplete="off" class="mx-auto w-auto" id="description" name="description" type="text" value="{{activity["description"]}}">
                            {% else %}
                            <input size="26" class="float-start" autocomplete="off" class="mx-auto w-auto" id="description" name="description" type="text">
                            {% endif %}
                    </td>
                </tr>
            </table>
        </div>
        <div class="wrap">
            <table>
                <tr>
                    <th width="101px"><label class="float-end pe-1" for="day">Day(s):</label></th>
                    <td width="240px" class="float-start mx-auto w-auto">
                        {% for activityday in activity_days %}
                            <div class="activityday visually-hidden">{{activityday}}</div>
                        {% endfor %}
                        <input type="checkbox" id="mon" name="mon" value="Mon">
                        <label for="mon">Mon</label>
                        <input type="checkbox" id="tue" name="tue" value="Tue">
                        <label for="tue">Tue</label>
                        <input type="checkbox" id="wed" name="wed" value="Wed">
                        <label for="wed">Wed</label>
                        <input type="checkbox" id="thu" name="thu" value="Thu">
                        <label for="thu">Thu</label>
                        <input type="checkbox" id="fri" name="fri" value="Fri">
                        <label for="fri">Fri</label>
                        <input type="checkbox" id="sat" name="sat" value="Sat">
                        <label for="sat">Sat</label>
                        <input type="checkbox" id="sun" name="sun" value="Sun">
                        <label for="sun">Sun</label>
                    </td>
                </tr>
            </table>
        </div>
        <div class="wrap">
            <table>
                <tr>
                    <th width="101px"><label class="float-end pe-1" for="weektype">Week:</label></th>
                    <td class="text-capitalize" width="240px">
                        <input class="float-start mx-auto w-auto" list="weektypes" autocomplete="off" placeholder="(Odd, Even, etc.)" name="weektype" id="weektype" value="{{activity["weektype"]}}">
                        <datalist id="weektypes">
                            {% for weektype in weektypes %}
                            <option value="{{weektype.name}}">{{weektype.name}}</option>
                            {% endfor %}
                        </datalist>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <th width="101px"><label class="float-end pe-1" for="start_time">Time:</label></th>
                    <td width="240px"><input class="float-start mx-auto w-auto" autocomplete="off" id="start_time" name="start_time" type="time" value="{{activity["start_time"]}}">-<input class="float-end mx-auto w-auto" autocomplete="off" id="end_time" name="end_time" type="time" value="{{activity["end_time"]}}"></td>
                </tr>
            </table>
        </div>
    </div>
    <button class="btn btn-primary bg pastelred mb-5 mx-2" type="submit">Update</button>
    <button class="btn btn-primary bg pastelred mb-5 mx-2" id="delete">Delete</button>
</form>
{% endblock %}
