{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}" oninvalid="requirement()" title="Minimum of 8 characters including at least one uppercase letter, one lowercase letter, one symbol, and a digit">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary bg pastelred" type="submit">Register</button>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function(){
            document.addEventListener("mousedown", function(){
                document.getElementById("password").removeAttribute("oninvalid");
            })
        }, {once : true})

        function requirement(){
            alert("Minimum of 8 characters including at least one uppercase letter, one lowercase letter, one symbol, and a digit")
        }
    </script>
{% endblock %}
