{% extends "layout.html" %}

{% block title %}
    Today
{% endblock %}

{% block main %}
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            /* default week */
            week_options = document.querySelector("#weektype1").querySelectorAll("option")
            for (let i = 0; i < week_options.length; i++)
            {
                if (week_options[i].innerHTML == document.querySelector("#chosen_weektype").innerHTML)
                {
                    week_options[i].selected = "true";
                }
            }

            /* submit date and week */
            document.querySelector('#date1').addEventListener('change', function(){
                document.querySelector('#change').value = "datechange"
                document.getElementById("temp_date").submit()
            })
            tempweek = document.querySelector('#weektype1')
            tempweek.addEventListener('change', function(){
                document.querySelector('#change').value = "weekchange"
                document.getElementById("temp_date").submit()
            })

            /* modify events */
            let events = document.querySelectorAll('.eventname');
            for (let i = 0; i < events.length; i++) {
                events[i].style.cursor = "pointer";
                events[i].addEventListener('click', function(){
                    document.querySelector('#tomodify').value = events[i].querySelector('.visually-hidden').innerHTML;
                    document.getElementById("modify_event").submit();
                });
            }

            /* modify task */
            let T_tasks = document.querySelectorAll('.tasks');
            for (let i = 0; i < T_tasks.length; i++) {
                T_tasks[i].style.cursor = "pointer";
                T_tasks[i].addEventListener('click', function(){
                    document.querySelector('#tomodifyT').value = T_tasks[i].querySelector('.visually-hidden').innerHTML;
                    document.getElementById("modify_task").submit();
                });
            }

            /* when hover over checkbox, faint tick appears */
            checkbox = document.querySelectorAll(".checkbox")
            for (let i = 0; i < checkbox.length; i++)
            {
                tick = checkbox[i].querySelector("img")
                if (checkbox[i].querySelector(".task_status1").innerHTML == "incomplete")
                {
                    tick.style.opacity = "0"
                }
                checkbox[i].addEventListener("click", function(){
                    if (checkbox[i].querySelector(".task_status1").innerHTML == "incomplete")
                    {
                        tick.style.opacity = "1"
                        document.querySelector("#u_status").value = "completed"
                    }
                    else
                    {
                        tick.style.opacity = "0"
                        document.querySelector("#u_status").value = "incomplete"
                    }
                    document.querySelector("#u_task_id").value = checkbox[i].querySelector(".task_id1").innerHTML
                    document.querySelector("#taskstatus").submit()
                })
            }

            /* set preset buttons */
            F_activities = document.querySelectorAll(".today_activity")
            F_corners = document.querySelectorAll(".corner")
            F_timings = document.querySelectorAll(".today_time")
            for (let i = 0; i < F_activities.length; i++)
            {
                draggable(F_activities[i], F_timings[i], today_activity, today_time, F_activities[i], F_corners[i], "button")
            }

            /* Save timetable */
            document.querySelector("#savetemp").addEventListener("submit", function(){
                form_save = document.getElementById("savetemp")
                activities = document.querySelectorAll(".today_activity")
                timings = document.querySelectorAll(".today_time")
                for (let i = 0; i < activities.length; i++)
                {
                    type = document.createElement("input");
                    type.setAttribute("id", "s_type" + i)
                    type.setAttribute("name", "s_type" + i)
                    type.setAttribute("type", "text")
                    form_save.appendChild(type);
                    if (activities[i].classList.contains("regular"))
                    {
                        type.value = "fixed"
                    }
                    else
                    {
                        type.value = "temp"
                    }

                    activity = document.createElement("input");
                    activity.setAttribute("id", "s_activity_name" + i)
                    activity.setAttribute("name", "s_activity_name" + i)
                    activity.setAttribute("type", "text")
                    activity.value = activities[i].innerHTML;
                    form_save.appendChild(activity);

                    start = document.createElement("input");
                    start.setAttribute("id", "s_start_time" + i)
                    start.setAttribute("name", "s_start_time" + i)
                    start.setAttribute("type", "time")
                    form_save.appendChild(start);

                    end = document.createElement("input");
                    end.setAttribute("id", "s_end_time" + i)
                    end.setAttribute("name", "s_end_time" + i)
                    end.setAttribute("type", "time")
                    form_save.appendChild(end);

                    time = timings[i].innerHTML
                    start.value = time[0] + time[1] + ":" + time[2] + time[3]
                    end.value = time[5] + time[6] + ":" + time[7] + time[8]
                }
                document.querySelector("#s_limit").value = activities.length
            })

            /* Dropdown to specify activity */
            add = document.querySelector("#addbutton")
            specify_activity = document.querySelector("#specify_activity")
            tasks = document.querySelector("#task_options1")
            others = document.querySelector("#others_1")
            others_div = document.querySelector("#others_2")
            others_input = document.querySelector("#others_input")
            others_add = document.querySelector("#others_add")
            document.addEventListener("click", function(e){
                task_options = document.querySelector("#task_options2")
                options = task_options.querySelectorAll(".options")
                wrapped_E = document.querySelectorAll(".wrap")
                specify(e)
            })
            function specify(e){
                if (e.target == add)
                {
                    /* task vs options APPEAR */
                    specify_activity.classList.remove("visually-hidden")

                    /* faded background */
                    document.querySelector("#temp_date").classList.add("low_opacity")
                    for (let i = 0; i < wrapped_E.length; i++)
                    {
                        wrapped_E[i].classList.add("low_opacity")
                    }
                }
                else if (e.target == tasks)
                {
                    /* task list APPEAR */
                    task_options.classList.remove("visually-hidden")

                    /* task vs options HIDE */
                    specify_activity.classList.add("visually-hidden")

                    /* click on option */
                    for (let i = 0; i < options.length; i++)
                    {
                        options[i].style.cursor = "pointer";
                        options[i].addEventListener("click", function(){
                            activity_name = options[i].innerHTML
                            add_activity()
                            bg_normal()
                        }, {once : true})
                    }
                }
                else if (e.target == others)
                {
                    /* task list APPEAR */
                    others_div.classList.remove("visually-hidden")

                    /* task vs options HIDE */
                    specify_activity.classList.add("visually-hidden")

                    /* after value input */
                    others_add.addEventListener("click", function(){
                        if (others_input.value != "")
                        {
                            activity_name = others_input.value
                            add_activity()
                            bg_normal()
                        }
                    });
                }
                else if (e.target != others_input && e.target != others_add)
                {
                    bg_normal()
                }
            }
            function bg_normal(){
                /* task vs options HIDE */
                specify_activity.classList.add("visually-hidden")

                /* task list and others HIDE */
                task_options.classList.add("visually-hidden")
                others_div.classList.add("visually-hidden")

                /* background NORMAL */
                for (let i = 0; i < wrapped_E.length; i++)
                {
                    wrapped_E[i].classList.remove("low_opacity")
                }
                document.querySelector("#temp_date").classList.remove("low_opacity")

                /* set activity name */
                activity_name = ""
                others_input.value = ""
            }

            /*Add button*/
            today_time = document.querySelector("#today_time")
            today_activity = document.querySelector("#today_activity")
            function add_activity(){
                /* check for activity_name */
                if (activity_name == "")
                {
                    return
                }

                /* Place button at end */
                buttons = today_activity.querySelectorAll("button")

                // Determine where to place button
                if (buttons.length > 0)
                {
                    tops = []
                    bottoms = []
                    for (let i = 0; i < buttons.length; i++)
                    {
                        tops[i] = buttons[i].getBoundingClientRect().top
                        bottoms[i] = buttons[i].getBoundingClientRect().bottom
                    }
                    tops.sort(function(a, b){
                        return a - b
                    })
                    bottoms.sort(function(a, b){
                        return a - b
                    })

                    div_top = today_activity.getBoundingClientRect().top + today_activity.scrollTop;
                    div_bottom = today_activity.getBoundingClientRect().bottom + today_activity.scrollTop;

                    for (let i = bottoms.length - 1; i > -1; i--)
                    {
                        // Define last gaps
                        if (i == bottoms.length - 1)
                        {
                            gap = div_bottom - bottoms[i]
                        }
                        else
                        {
                            gap = tops[i + 1] - bottoms[i]
                        }

                        if (gap > 30)
                        {
                            last_button_bottom = bottoms[i]
                            break
                        }
                        else if (i == 0)
                        {
                            // First gap
                            if (tops[i] - div_top > 30)
                            {
                                last_button_bottom = div_top
                            }
                            else
                            {
                                alert("Sorry, no space :/ (for default 30min)")
                                return
                            }
                        }
                    }
                }

                /* Create button */
                button_activity = document.createElement("button")

                /* Place button in div */
                today_activity.appendChild(button_activity)

                /* Standardise button */
                button_activity.classList.add("bg2", "pastelred", "today_activity", "black_text")
                button_activity.style.height = "30px";
                button_activity.innerHTML = activity_name

                if (typeof last_button_bottom != "undefined")
                {
                    button_activity.style.transform = `translateY(${Math.trunc(last_button_bottom - div_top)}px)`
                }

                corner = document.createElement("img")
                corner.src = "https://i.imgur.com/4kAurAV.png"
                today_activity.appendChild(corner)
                corner.classList.add("corner")
                if (button_activity.style.transform)
                {
                    to_transform = parseInt(button_activity.style.transform.replace('translateY(','').replace('px)',''))
                }
                else
                {
                    to_transform = 0
                }
                height_addition = parseInt(button_activity.style.height.replace('px)',''))
                corner.style.transform = `translateY(${to_transform + height_addition - 10}px)`


                /* Create time button*/
                button_time = document.createElement("button")

                /* Place time button in div */
                today_time.appendChild(button_time)

                /* Standardise button */
                button_time.classList.add("today_time", "black_text")
                button_time.style.height = "30px";
                button_time.style.transform = button_activity.style.transform

                /* Make draggable */
                draggable(button_activity, button_time, today_activity, today_time, button_activity, corner, "button")
                set_time(button_time, today_activity)
            }

            /* Make draggable (translate)*/
            function draggable(element, pair, div, pair_div, clicked, corner, type){
                var div_top = div.getBoundingClientRect().top + div.scrollTop;
                var div_bottom = div.getBoundingClientRect().bottom + div.scrollTop;

                document.addEventListener("scroll", function(){
                    div_top = div.getBoundingClientRect().top + div.scrollTop;
                    div_bottom = div.getBoundingClientRect().bottom + div.scrollTop;
                });

                x_mouse = 0;
                y_mouse = 0;
                x_translate = 0;
                y_translate = 0;

                element.addEventListener("dblclick", function(){
                    element.remove()
                    pair.remove()
                    corner.remove()
                });

                /* (IMPORTANT) add for touch events too */

                corner.addEventListener("mousedown", function(e){
                    element_top = element.getBoundingClientRect().top;
                    element_bottom = element.getBoundingClientRect().bottom;
                    element_right = element.getBoundingClientRect().right;

                    x_mouse = e.clientX;
                    y_mouse = e.clientY;

                    document.addEventListener("mousemove", resize)
                    document.addEventListener("mouseup", function(e){
                        document.removeEventListener("mousemove", resize)
                    })
                })

                corner.addEventListener("touchstart", function(e){
                    element_top = element.getBoundingClientRect().top;
                    element_bottom = element.getBoundingClientRect().bottom;
                    element_right = element.getBoundingClientRect().right;

                    x_mouse = e.touches[0].clientX;
                    y_mouse = e.touches[0].clientY;

                    document.addEventListener("touchmove", resize)
                    document.addEventListener("touchend", function(e){
                        document.removeEventListener("touchmove", resize)
                    })
                })

                clicked.addEventListener("mousedown", function(e){
                    element_top = element.getBoundingClientRect().top;
                    element_bottom = element.getBoundingClientRect().bottom;
                    element_right = element.getBoundingClientRect().right;

                    x_mouse = e.clientX;
                    y_mouse = e.clientY;

                    // get the mouse cursor position at startup:
                    if (element.style.transform)
                    {
                        element_y = parseInt(element.style.transform.replace('translateY(','').replace('px)',''));
                    }
                    else
                    {
                        element_y = 0
                    }
                    document.addEventListener("mousemove", move)
                    document.addEventListener("mouseup", function(e){
                        e.preventDefault()
                        document.removeEventListener("mousemove", move)
                    })
                })

                clicked.addEventListener("touchstart", function(e){
                    element_top = element.getBoundingClientRect().top;
                    element_bottom = element.getBoundingClientRect().bottom;
                    element_right = element.getBoundingClientRect().right;

                    x_mouse = e.touches[0].clientX;
                    y_mouse = e.touches[0].clientY;

                    // get the mouse cursor position at startup:
                    if (element.style.transform)
                    {
                        element_y = parseInt(element.style.transform.replace('translateY(','').replace('px)',''));
                    }
                    else
                    {
                        element_y = 0
                    }

                    document.addEventListener("touchmove", move)
                    document.addEventListener("touchend", function(e){
                        document.removeEventListener("touchmove", move)
                    })
                })

                function move(e){
                    element_top = element.getBoundingClientRect().top;
                    element_bottom = element.getBoundingClientRect().bottom;
                    element_height = parseInt(element.style.height.replace('px)',''))
                    blocking = -1
                    direction = 0

                    if (e == '[object TouchEvent]')
                    {
                        e.clientX = e.touches[0].clientX
                        e.clientY = e.touches[0].clientY
                    }

                    /* translate */
                    y_translate = e.clientY - y_mouse;
                    potential_Etop = element_top + y_translate
                    potential_Ebottom = element_bottom + y_translate

                    pairs = pair_div.querySelectorAll(type)

                    /* if translated such that overlaps*/

                    if (potential_Etop >= div_top && potential_Ebottom <= div_bottom)
                    {
                        /* Create list based on buttons other than self*/
                        elements = div.querySelectorAll(type)
                        j = 0
                        tops = []
                        bottoms = []

                        for (let i = 0; i < elements.length; i++)
                        {
                            if (elements[i].isSameNode(element) === false)
                            {
                                tops[j] = elements[i].getBoundingClientRect().top
                                bottoms[j] = elements[i].getBoundingClientRect().bottom
                                j = j + 1
                            }
                        }
                        tops.sort(function(a, b){
                            return a - b
                        })
                        bottoms.sort(function(a, b){
                            return a - b
                        })

                        /* define gaps */
                        gaps = []

                        for (let i = 0; i < tops.length; i++)
                        {
                            if (i > 0)
                            {
                                gaps[i] = tops[i] - bottoms[i - 1]
                            }
                            else if (i == 0)
                            {
                                gaps[i] = tops[i] - div_top
                            }
                            if (i == tops.length - 1)
                            {
                                gaps[i + 1] = div_bottom - bottoms[i]
                            }
                        }

                        /* determine buttons blocking */
                        if (y_translate > 0)
                        {
                            for (let i = 0; i < tops.length; i++)
                            {
                                if (bottoms[i] > element_top)
                                {
                                    blocking = i
                                    direction = 1
                                    break
                                }
                            }
                        }
                        else if (y_translate < 0)
                        {
                            for (let i = tops.length - 1; i > -1; i--)
                            {
                                if (element_bottom > tops[i])
                                {
                                    blocking = i
                                    direction = -1
                                    break
                                }
                            }
                        }


                        if (typeof(blocking) != "undefined" && blocking != -1)
                        {
                            if (potential_Etop < bottoms[blocking] && potential_Ebottom > tops[blocking])
                            {
                                if (direction == 1)
                                {
                                    if (element_bottom < tops[blocking])
                                    {
                                        element_y = element_y + tops[blocking] - element_bottom
                                        y_mouse = e.clientY;
                                        element.style.transform = `translateY(${element_y}px)`
                                    }
                                    else
                                    {
                                        for (let i = blocking + 1; i < gaps.length; i++)
                                        {
                                            if (gaps[i] > element_height && e.clientY > bottoms[i - 1])
                                            {
                                                element_y = element_y + bottoms[i - 1] - element_top
                                                y_mouse = e.clientY + bottoms[i - 1] - potential_Etop;
                                                element.style.transform = `translateY(${element_y}px)`
                                            }
                                        }
                                    }
                                }
                                else if (direction == -1)
                                {
                                    if (element_top > bottoms[blocking])
                                    {
                                        element_y = element_y + bottoms[blocking] - element_top
                                        y_mouse = e.clientY;
                                        element.style.transform = `translateY(${element_y}px)`
                                    }
                                    else
                                    {
                                        for (let i = blocking; i > -1; i--)
                                        {
                                            if (gaps[i] > element_height && e.clientY < tops[i])
                                            {
                                                element_y = element_y + tops[i] - element_bottom
                                                y_mouse = e.clientY + tops[i] - potential_Ebottom;
                                                element.style.transform = `translateY(${element_y}px)`
                                            }
                                        }
                                    }
                                }
                            }
                            else if (potential_Etop >= bottoms[blocking + direction] || potential_Ebottom <= tops[blocking + direction])
                            {
                                y_mouse = e.clientY;
                                element_y = element_y + y_translate
                                element.style.transform = `translateY(${element_y}px)`
                            }
                            else if (typeof(bottoms[blocking + direction]) == "undefined")
                            {
                                y_mouse = e.clientY;
                                element_y = element_y + y_translate
                                element.style.transform = `translateY(${element_y}px)`
                            }
                        }
                        else
                        {
                            y_mouse = e.clientY;
                            element_y = element_y + y_translate
                            element.style.transform = `translateY(${element_y}px)`
                        }
                    }

                    new_transform = parseInt(element.style.transform.replace('translateY(','').replace('px)',''))
                    corner.style.transform = `translateY(${new_transform + element_height - 10}px)`

                    pair.style.transform = element.style.transform
                    for (let i = 0; i < pairs.length; i++)
                    {
                        set_time(pairs[i], today_activity)
                    }
                }

                function resize(e){
                    e.preventDefault()
                    element_top = element.getBoundingClientRect().top;
                    element_bottom = element.getBoundingClientRect().bottom;
                    element_height = parseInt(element.style.height.replace('px)',''))

                    if (e == '[object TouchEvent]')
                    {
                        e.clientX = e.touches[0].clientX
                        e.clientY = e.touches[0].clientY
                    }

                    change = e.clientY - y_mouse;
                    y_mouse = e.clientY
                    old_height = element_height
                    element_height = element_height + change
                    if (element_height >= 15)
                    {
                        element.style.height = `${element_height}px`
                    }
                    else
                    {
                        element_height = 15
                        element.style.height = "15px"
                    }

                    /* redefine */
                    element_bottom = element.getBoundingClientRect().bottom;

                    /* if translated out of div */
                    elements = div.querySelectorAll(type)
                    pairs = pair_div.querySelectorAll(type)

                    tops = []
                    bottoms = []
                    for (let i = 0; i < elements.length; i++)
                    {
                        tops[i] = elements[i].getBoundingClientRect().top
                        bottoms[i] = elements[i].getBoundingClientRect().bottom
                    }
                    tops.sort(function(a, b){
                        return a - b
                    })
                    bottoms.sort(function(a, b){
                        return a - b
                    })

                    if (element_bottom > div_bottom)
                    {
                        element_height = element_height - element_bottom + div_bottom
                        element.style.height = `${element_height}px`
                    }
                    else
                    {
                        for (let i = 0; i < tops.length; i++)
                        {
                            if (tops[i] > element_top)
                            {
                                if (element_bottom > tops[i])
                                {
                                    element_height = element_height - element_bottom + tops[i]
                                    element.style.height = `${element_height}px`
                                    break
                                }
                            }
                        }
                    }

                    original_transform = parseInt(corner.style.transform.replace('translateY(','').replace('px)',''))
                    corner.style.transform = `translateY(${original_transform + element_height - old_height}px)`

                    pair.style.height = element.style.height

                    for (let i = 0; i < pairs.length; i++)
                    {
                        set_time(pairs[i], today_activity)
                    }
                }
            }

            /* Set time */
            function set_time(element, div){
                var div_top = div.getBoundingClientRect().top + div.scrollTop;
                var div_bottom = div.getBoundingClientRect().bottom + div.scrollTop;

                document.addEventListener("scroll", function(){
                    div_top = div.getBoundingClientRect().top + div.scrollTop;
                    div_bottom = div.getBoundingClientRect().bottom + div.scrollTop;
                });

                /* Find start time */
                element_top = element.getBoundingClientRect().top
                x_hours = Math.trunc((element_top - div_top)/60)
                x_minutes = Math.trunc((element_top - div_top)%60)

                x = String(x_hours).padStart(2, '0') + String(x_minutes).padStart(2, '0')

                /* Find endtime */
                element_height = parseInt(element.style.height.replace('px)',''))
                y_hours = x_hours + Math.trunc(element_height/60)
                y_minutes = x_minutes + Math.trunc(element_height%60)

                if (y_minutes > 59)
                {
                    y_hours = y_hours + Math.trunc(y_minutes/60)
                    y_minutes = Math.trunc(y_minutes%60)
                }

                y = String(y_hours).padStart(2, '0') + String(y_minutes).padStart(2, '0')

                /* Change innerHTML */
                element.innerHTML = `${x}-${y}`
            }
        })
    </script>
    <!--Ask for date, else auto today-->
    <form action="/" method="post" id="temp_date">
        <input class="visually-hidden" id="change" name="change" type="text">
        <div class="mb-4">
            <table>
                <tr>
                    <th width="60px"><label class="float-end pe-1" for="date1">Date:</label></th>
                    <td width="145px"><input class="float-start mx-auto w-auto" autocomplete="off" id="date1" name="date1" type="date" value="{{date}}"></td>
                </tr>
            </table>
            <table>
                <tr>
                    <th width="60px"><label class="float-end pe-1" for="weektype1">Week:</label></th>
                    <td width="145px">
                        <div class="visually-hidden" id="chosen_weektype">{% if chosen_weektype %}{{chosen_weektype[0]["name"]}}{% else %}None{% endif %}</div>
                        <select class="float-start mx-auto w-auto" autocomplete="off" name="weektype1" id="weektype1">
                            <option value="None">None</option>
                            {% for weektype in weektypes %}
                            <option value="{{weektype.week_id}}">{{weektype.name}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </form>
    <div id="specify_activity" class="fixedP visually-hidden">
        <button class="bg2 pastelred black_text" id="task_options1">Task</button>
        <button class="bg2 pastelred black_text" id="others_1">Others</button>
    </div>
    <div id="task_options2" class="bg2 pastelred fixedP visually-hidden">
        <b>Task?</b>
        {% for task in tasks %}
            {% if task.status == "incomplete" %}
            <div class="options" onmouseover="highlight(this)" onmouseout="unhighlight(this)">{{task.task}}</div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="fixedP visually-hidden" id="others_2">
        <input id="others_input" type="text"><br>
        <button class="btn btn-primary mt-2 bg pastelred" id="others_add">Add</button>
    </div>
    <script>
        function highlight(x)
        {
            x.style.backgroundColor = "white"
        }
        function unhighlight(x)
        {
            x.style.backgroundColor = "transparent"
        }
    </script>
    <div class="wrap">
        <!--Timetable-->
        <div class="sub_wrap">
            <table>
                <tr>
                    <div class="description text-start fst-italic" id="deletetext">*Double-click to delete activity :)</div>
                </tr>
                <tr>
                    <td width="50px"></td>
                    <td>
                        <table class="bord pastelred" id="today">
                            <tr>
                                <th class="restrict105" width="200px">Time</th>
                                <th width="300px">Activity</th>
                            </tr>
                            <tr>
                                <td><div id="today_time">
                                    {% for activity in temp %}
                                        <button class="today_time black_text" style="height: {{activity.end_time|tominutes - activity.start_time|tominutes}}px; transform: translateY({{activity.start_time|tominutes}}px);">{{activity.start_time|time24h}}-{{activity.end_time|time24h}}</button>
                                    {% endfor %}
                                    {% for activity in fixed %}
                                        <button class="today_time black_text" style="height: {{activity.end_time|tominutes - activity.start_time|tominutes}}px; transform: translateY({{activity.start_time|tominutes}}px);">{{activity.start_time|time24h}}-{{activity.end_time|time24h}}</button>
                                    {% endfor %}
                                </div></td>
                                <td><div id="today_activity">
                                    {% for activity in temp %}
                                        {% if activity.type == "fixed" %}
                                        <button class="bg2 pastelred today_activity black_text regular" style="height: {{activity.end_time|tominutes - activity.start_time|tominutes}}px; transform: translateY({{activity.start_time|tominutes}}px);">{{activity.name}}</button>
                                        {% else %}
                                        <button class="bg2 pastelred today_activity black_text" style="height: {{activity.end_time|tominutes - activity.start_time|tominutes}}px; transform: translateY({{activity.start_time|tominutes}}px);">{{activity.name}}</button>
                                        {% endif %}
                                        <img class="corner" style="transform: translateY({{activity.end_time|tominutes - 10}}px);" src="https://i.imgur.com/4kAurAV.png">
                                    {% endfor %}
                                    {% if fixed %}
                                        {% for activity in fixed %}
                                        <button class="bg2 pastelred today_activity black_text regular" style="height: {{activity.end_time|tominutes - activity.start_time|tominutes}}px; transform: translateY({{activity.start_time|tominutes}}px);">{{activity.activity}}</button>
                                        <img class="corner" style="transform: translateY({{activity.end_time|tominutes - 10}}px);" src="https://i.imgur.com/4kAurAV.png">
                                        {% endfor %}
                                    {% endif %}
                                </div></td>
                            </tr>
                        </table>
                        <!--Save whole timetable into database-->
                        <form action="/savetemp" method="post" id="savetemp" class="visually-hidden">
                            <input name="s_date" id="s_date" type="date" value="{{date}}">
                            <input name="s_limit" id="s_limit" type="number">
                        </form>
                        <button class="mt-2 mb-5 bg pastelred btn btn-secondary" formmethod="post" form="savetemp" type="submit">Save</button>
                    </td>
                    <td width="50px" class="align-top">
                        <button class="bg pastelred" id="addbutton">+</button>
                        <button class="transparent_button borderless_button" formmethod="post" form="savetemp" type="submit"><img id="confirmtick" src="https://www.freeiconspng.com/thumbs/check-tick-icon/black-tick-icon-png-33.png"></button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="sub_wrap">
            <form action="/taskstatus" method="post" id="taskstatus" class="visually-hidden">
                <input name="u_task_id" id="u_task_id" type="number">
                <input name="u_status" id="u_status" type="text">
            </form>
            <form action="/modify_task" method="post" id="modify_task" class="visually-hidden">
                <input name="tomodifyT" id="tomodifyT" type="number">
            </form>
            <table>
                <tr height="17px"></tr>
                {% if tasks %}
                <!--checklist-->
                <tr class="bg2 pastelred">
                    <th></th>
                    <th class="text-start" width="250px">Tasks</th>
                    <th width="110px">Due Date :(</th>
                </tr>
                {% for task in tasks %}
                <tr>
                    <td class="px-3 pt-1">
                        <button class="checkbox bg2 pastelred">
                            <div class="task_status1 visually-hidden">{{task.status}}</div>
                            <img class="checktick" src="https://www.freeiconspng.com/thumbs/check-tick-icon/black-tick-icon-png-33.png">
                            <div class="task_id1 visually-hidden">{{task.task_id}}</div>
                        </button>
                    </td>
                    <td class="text-capitalize text-start">
                        <div class="tasks">{{task.task}}
                            <div class="visually-hidden">{{task.task_id}}</div>
                        </div>
                        {% if task.description %}
                            <div class="description">{{task.description}}</div>
                        {% endif %}
                    </td>
                    <td>{{task.due_date|date}}</td>
                </tr>
                {% endfor %}
                <tr height="40px"></tr>
                {% endif %}
                <tr>
                    <td colspan="3">
                        <form action="/addtask" method="post">
                            <div class="bord pastelred mb-2 pb-2">
                                <table>
                                    <tr>
                                        <th class="restrict101" width="101px"><label class="float-end pe-1" for="task">Task:</label></th>
                                        <td width="240px"><input class="float-start" autocomplete="off" class="mx-auto w-auto" id="task" name="task" type="text"></td>
                                    </tr>
                                    <tr>
                                        <th class="restrict101" width="101px"><label class="float-end pe-1" for="description">Description:</label></th>
                                        <td width="240px"><input class="float-start" autocomplete="off" class="mx-auto w-auto" id="description" name="description" type="text"></td>
                                    </tr>
                                    <tr>
                                        <th class="restrict101" width="101px"><label class="float-end pe-1" for="due_date">Due Date:</label></th>
                                        <td width="240px"><input class="float-start mx-auto w-auto" autocomplete="off" id="due_date" name="due_date" type="date"></td>
                                    </tr>
                                </table>
                            </div>
                            <button class="btn btn-primary bg pastelred mb-5" type="submit">Add</button>
                        </form>
                    </td>
                </tr>
            </table>
            {% if events %}
                <div class="event pt-3" id="events_list">
                    <div class="eventlisttitle">Events!</div>
                    <div class="mb-1" id="fineprint">* Click on specific event name to modify details :)</div>
                    <table text-align="left" class="table-sm text-wrap text-break" width="95%">
                        <thead>
                            <tr class="bg2 pastelred">
                                <th>Event</th>
                                <th class="eventtime">Time</th>
                            </tr>
                        </thead>
                        <tbody class="align-middle">
                            <form id="modify_event" action="/modify_event" method="post">
                                <input id="tomodify" name="tomodify" class="visually-hidden" type="text">
                                {% for event in events %}
                                <tr class="eventname">
                                    <td>
                                        <div class="visually-hidden event_id">{{event.event_id}}</div>
                                        <div class="visually-hidden eventnamevalue">{{event.event}}</div>
                                        {% if event.description %}
                                            <div>{{event.event}}</div><div class="description">{{event.description}}</div>
                                        {% else %}
                                            <div>{{event.event}}</div>
                                        {% endif %}
                                    </td>
                                    <td class="eventtime">
                                        {% if event.start_time %}
                                            {% if event.end_time %}
                                            {{event.start_time|time12h}} - {{event.end_time|time12h}}
                                            {% else %}
                                                {{event.start_time|time12h}}
                                            {% endif %}
                                        {% else %}
                                        -
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </form>
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
    <!--Add tasks-->
{% endblock %}
